/screenshots
/usernamecache.json
/README.txt
/saves
/mods
/logs
/forge-1.7.10-10.13.4.1558-1.7.10-changelog.txt
/CREDITS-fml.txt
/LICENSE-fml.txt
/MinecraftForge-Credits.txt
/MinecraftForge-License.txt
/.project
/.gradle
/.settings
/bin/
/eclipse
/.classpath
/config/
/options.txt
/crash-reports
OreForge.iml
OreForge.ipr
OreForge.iws
out/
